.nav {
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  margin-left: 20px;
}

.heading {
  margin-left: 20px;
  color: white;
}

.nav ul {
  margin: 0;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: end;
}

.list li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.list li a:hover {
  background-color: olivedrab;
}

@media screen and (max-width: 520px) {
  .nav {
    flex-direction: column;
  }
  .list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-around;
    gap: 30px;
  }
  .nav {
    padding-bottom: 30px;
  }
  .heading {
    margin-bottom: 30px;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image {
    margin-left: 50px;
    margin-top: 20px;
  }
}
